<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.spidev.user">

    <dist:module
            dist:instant="false"
            dist:onDemand="false"
            dist:title="@string/title_user">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application>
        <activity
                android:name=".UserActivity"
                android:label="@string/title_activity_user"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>